@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.btn-toggle input[type="radio"] {
    display: none;
}

.btn-toggle label {
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-toggle input[type="radio"]:checked+label {
    background-color: #0d6efd;
    color: white;
}

.btn-toggle .btn {
    border-radius: 0;
}

.btn-toggle .btn:first-child {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.btn-toggle .btn:last-child {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.no-right-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.no-left-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Estilo ativo customizado */
.btn-check:checked+.btn-outline-success {
    background-color: #198754;
    color: white;
    border-color: #198754;
}

.btn-check:checked+.btn-outline-danger {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}

.btn-nota{
    font-weight: bolder;
}


#left-col{
    margin: 5px;
    padding: 10px;
    background-color: rgb(43, 43, 250);
    border-radius: 10px;
    color: white
}

#right-col{
    margin: 5px;
    padding: 10px;
}

#opiniao{
    font-weight: bolder;
    color: #a3a3a3;
}